<launch>
    <group ns="lbr">
        <rosparam command="load" file="$(find h_pose_vs)/config/local_pose_params.yml"/>
        <node name="pose_server_node" pkg="h_pose_vs" type="pose_server_node" output="screen"/>
        <node name="pose_client_node" pkg="h_pose_vs" type="pose_client_node" output="screen"/>
    </group>
</launch>